table, td, tr {
  border: 1px solid black;
}

td {
  width: 25px;
  height: 10px;
}

.col1 {
  width: 100px;
}

.beat-divide {
	border-right: 4px solid darkred;
}

.measure-divide {
	border-right: 4px solid red;
}

.selected {
  background-color: blue;
}

.highlight {
	background-color: orange;
}

.canvas {
	margin-top: 40px;
	margin: auto;
	text-align: center;
}