table, td, tr {
  border: 1px solid black;
}

table {
	display: inline-block;
	vertical-align: top;
}

td {
  width: 25px;
  height: 16px;
}

td:nth-child(4n+4) {
	border-right: 4px solid darkred;
}

td:nth-child(16) {
	border-right: 4px solid red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.col1 {
  width: 100px;
}

.beat-divide {
	border-right: 4px solid darkred;
}

.measure-divide {
	border-right: 4px solid red;
}

.selected {
  background-color: blue;
}

.highlight {
	background-color: orange;
}

.canvas {
	margin-top: 40px;
	margin: auto;
	text-align: center;
}