a button:hover {
	background-color: rgb(138, 185, 241);
	border: 2px solid rgb(0, 126, 199) ;
	color: rgb(4, 46, 76);
}

body {
	font-size: 0px;
	margin: 0px;
	padding: 0px;
	background-image: url(/music-demo/public/images/drumset2.jpg);
	background-size: cover;
	background-attachment: fixed;
}

button {
	height: 39px;
  	padding: 6px 12px;
  	background-color: white;
  	margin-top: 30px;
  	margin-bottom: 30px;
  	font-size: 14px;
  	line-height: 14px;
  	color: rgb(4, 46, 76);
  	border: 2px solid rgb(138, 185, 241);
  	border-radius: 4px;
}

h1 {
	margin-top: 0px;
}

header {
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 18px;
	color: white;
  background: linear-gradient(rgb(4, 46, 76), rgba(0,0,0,0.01));
  padding: 30px 50px 100px 50px;
}

header a {
	color: rgb(138, 185, 241);
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
	color: white;
}

table {
	display: inline-block;
	vertical-align: top;
	margin: auto;
}

td {
  background-color: rgb(207, 250, 244);
  border: 1px solid black;
  font-size: 13px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  width: 25px;
  height: 16px;
  border-radius: 3px;
}

.four td:nth-child(4n+4) {
	border-right: 5px solid blue;
}

.four td:nth-child(16) {
	border-right: 6px solid rgb(250, 120, 20);
}

.three td:nth-child(3n+3) {
  border-right: 5px solid blue;
}

.three td:nth-child(12) {
  border-right: 6px solid rgb(250, 120, 20);
}

.five td:nth-child(4n+4) {
  border-right: 5px solid blue;
}

.seven td:nth-child(4n+4) {
  border-right: 5px solid blue;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select {
  font-size: 16px;
}


input {
  height: 25px;
  padding: 6px 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #555555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.background-cover {
	background: rgba(0,0,0,0.55);
	width: 100%;
	height: 100%;
	padding-bottom: 10%;
}

.background-cover .table-example {
	background: rgba(0,0,0,0.7);
}

.block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 0px;

}

.center {
	text-align: center;
}

.center-link {
	display: inline-block;
  width: 40%;
  margin: auto;
}

.col1 {
  width: 100px;
}

.controls {
	width: 90%;
  min-width: 1273px;
	margin: auto;
}

.credit {
  font-size: 14px;
  background: rgba(255,255,255,0.5);
  margin-top: 100px;
  padding: 10px;
  font-family: Arial, sans-serif;
  width: 30%;
  margin-left: auto;
  border-radius: 9px;
  margin-right: auto;
  box-sizing: border-box;
}

.demo-wrap {
  background: rgba(255,255,255,0.5);
  border-radius: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 50px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: black;
  width: 30%;
}

.demo-wrapper {
  text-align: center;
}

.extra-width {
  width: 262px;
}

.beat-wrapper {
	text-align: center;
}

.loaded-beat {
	margin: auto;
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.play-pause {
	position: relative;
	left: 19px;
}

.play {
  height: 75px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 10px;
  width: 75px;
  vertical-align: middle;
  position: relative;
  bottom: 6px;
  background-color: white;
  border-radius: 100px;
}

.play:hover, .stop:hover {
	background-color: rgb(138, 185, 241);
}

.play-width {
  width: 105px;
}

.result {
  position: absolute;
  top: 188px;
  left: 300px;
  right: 300px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(4, 46, 76, 0.875);
  padding: 5px;
  border-radius: 9px;
  color: rgb(207, 250, 244);
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.result input {
  display: block;
  width: 30%;
  margin: auto;
}

.save-width {
  width: 95px;
}

.selected {
  	background-color: rgb(102, 16, 16);
}

.stop {
	height: 75px;
  padding: 15px;
	width: 75px;
	vertical-align: middle;
	position: relative;
	bottom: 6px;
	background-color: white;
	border-radius: 100px;
}

.table-example {
	margin: auto;
	text-align: center;
	margin-top: 40px;
	width: 90%;
  min-width: 1273px;
	border-radius: 9px;
	padding: 20px 10px;
}

.highlight {
	background-color: orange;
}

.white-label {
  font-size: 20px;
  font-family: verdana, sans-serif;
  color: white;
  display: inline-block;
  margin: auto;
}

.white-label input[type=text]{
  width: 150px;
}

#twitter-widget-0 {
  position: relative;
  top: 5px;
  left: 50px;
}

#widget {
    text-align: center;
}

@media (min-width: 1400px) {
  .background-cover {
    padding-bottom: 20%;
  }
}

@media (max-width: 1250px) {
  .background-cover {
    background: none;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
  }

  .play-pause {
    left: 0px;
  }

  header {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: white;
    background: none;
    padding: 30px 50px 50px 50px;
  }

  header a {
    color: blue;
  }

  header a:hover {
    color: white;
  }

  header h1,p{
    background: rgb(4, 46, 76);
    padding: 8px;
    border-radius: 5px;
  }

  .center-link {
    background: rgb(4, 46, 76);
    padding: 8px;
    border-radius: 5px;
  }

  .controls {
    background-color: rgba(0,0,0, 0.8);
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 9px;
    min-width: 0px;
  }

  .background-cover .table-example {
    background: rgba(0,0,0,0.8);
  }

  .table-example {
    background: rgba(0,0,0,0.8);
  }


}
